<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Панель управления</title>
			<subitems>
				<subitem>
					<subitemtitle>Панель управления</subitemtitle>
					<subitemlang>dashboard</subitemlang>
					<subsection>dashboard</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey>dashboard</subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Изменить свои данные</title>
			<subitems>
				<subitem>
					<subitemtitle>Изменение своих данных</subitemtitle>
					<subitemlang>mydetails</subitemlang>
					<subsection>details</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>